html {
	height: 100%;
}

body {
	background-color: #B1DCF1;
	position: relative;
	min-height: 100%;
	margin: 0;
	overflow-x: none;
}

header {
	background-color: #3DB5F1;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	border-radius: 0px 0px 25px 25px;
	z-index: 1;
}

main {
	padding-bottom: 250px;
	margin-top: 110px;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 250px;
	background-color: #3DB5F1;
	border-radius: 25px 25px 0px 0px;
}

a {
	text-decoration: none;
	color: black;
}

li {
	list-style: none;
}

.headerContainer {
	width: 100%;
	display: grid;
	grid-template-columns: 0.2fr 2fr 0.2fr;
	grid-template-rows: 1fr;
	border-radius: 0px 0px 25px 25px;
}

.headerFlagPiece {
	height: 96px;
	margin: 7px 30px;
}

#slogan {
	font-family: "Montserrat";
    font-size: 30px;
    font-weight: 600;
    color: #000000;
    margin: auto auto;
    transition: all 700ms ease;
}

#slogan:hover {
	color: #FEF343;
}



.footerContainer {
	height: 100%;
	margin: 0px 160px;
	font-family: "Montserrat";
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}

.footerLinks {
	display: inline-flex;
	flex-direction: column;
	margin: auto 0px;
	padding: 0px;
}

.footerContacts {
	text-align: right;
	display: inline-flex;
	flex-direction: column;
	margin: 45px 0px 0px 0px;
}

.footerElement {
	padding: 4px 0px;
}

.anime {
	transition: all 300ms ease;
}

.anime:hover {
	color: #8C3942;
}

#ownerInfo {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 30px 40px;
}